.ship-dock {
  display: flex;
  height: 114px;
  flex-direction: row;
  gap: 10px;
}

.ship.horizontal {
  flex-direction: row;
}

.ship.vertical {
  flex-direction: column;
}

.ship {
  display: flex;
  gap: 2px;
  cursor: grab;
}

.ship-cell {
  width: 20px;
  height: 20px;
  background-color: #444;
  border: 1px solid #ccc;
}