.board {
  position: relative;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border: 1px solid #999;
  cursor: pointer;
}

.cell.ship {
  background-color: #444;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: lightblue;
}

.cell.near-hit {
  background-color:grey;
}

.valid-hover {
  background-color: rgba(0, 255, 0, 0.3); /* зелёная подсветка */
}

.invalid-hover {
  background-color: rgba(255, 0, 0, 0.3); /* красная подсветка */
}